.login-component {    
    position: absolute;
    width: auto;
    height: auto;
    top: 40%;
    left: 40%;
}

input, button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-header {
    margin-top: 20px;
    margin-bottom: 20px;
}